body {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-inline: 50px;
}

.list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.link-item {
  text-decoration: none;
  color: black;
}
